/* ######### Shared basic style for mega drop down menu DIV ######### */



.mega{
	width: 310px; /*default width of mega menu*/
	padding: 10px;
	position: absolute;
	visibility: hidden;
	border: 2px solid;
	border-top-width: 1px;
	background: #FFFFF0;
	-webkit-box-shadow: 5px 5px 5px  #334973; /*css 3 shadows*/
	-moz-box-shadow: 5px 5px 5px #334973;
	box-shadow: 5px 5px 5px #334973;
	font: Regular 18px Arial;
	font-family: Verdana,sans-serif;
	font-weight: Regular;
	color: #404f87;
	background-color: #EEEEEE;
	border-color: #666666;
	font-size: 14px;
}

.mega .column{ /*each link column within a mega menu*/
float:left;
width:49%;
}

.mega a{
	font: Regular 18px Arial;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #666666;
	background-color: #EEEEEE;
	border-style: solid;
	border-color: #666666;
	border-width: 2px;
	font-size: 16px;
	text-decoration: none;
	padding: 3px;
}


.mega a[rel]:after{ /*add "down.png" to anchor links, or those with a rel attribute */
content:" " url(down.png);
}
.mega a:visited{
	font: Regular 18px Arial;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #666666;
	background-color: #EEEEEE;
	border-style: solid;
	border-color: #666666;
	border-width: 1px;
	font-size: 16px;
	text-decoration: none;
}

.mega a:hover { /*Selected Tab style*/
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #3554dd;
	background-color: #EEEEF4;
	border-style: solid;
	border-color: #3554dd;
	border-width: 2px;
	font-size: 16px;
}


.mega .column ul{
margin:0;
margin-left:5px;
padding:0;
list-style:none;
}

.mega .column ul li{
margin-bottom:3px;
}

.mega .ulmenu{ /*style any UL within mega menu with class="ulmenu"*/
margin:0;
padding:0;
border:1px solid gray;
border-bottom-width:0;
list-style:none;
}

.mega .ulmenu a{
display:block;
border-bottom:1px solid gray;
padding:5px;
}

.mega .ulmenu a:hover{
background:lightyellow;

}

.mega2{
	width: 310px; /*default width of mega menu*/
	padding: 10px;
	position: absolute;
	visibility: hidden;
	border: 2px solid;
	border-top-width: 1px;
	background: #FFFFF0;
	-webkit-box-shadow: 5px 5px 5px  #334973; /*css 3 shadows*/
	-moz-box-shadow: 5px 5px 5px #334973;
	box-shadow: 5px 5px 5px #334973;
	font: Regular 18px Arial;
	font-family: Verdana,sans-serif;
	font-weight: Regular;
	color: #404f87;
	background-color: #EEEEEE;
	border-color: #666666;
	font-size: 14px;
}

.mega2 .column{ /*each link column within a mega menu*/
float:left;
width:49%;
}

.mega2 a{
	font: Regular 18px Arial;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #666666;
	background-color: #EEEEEE;
	border-style: solid;
	border-color: #666666;
	border-width: 2px;
	font-size: 16px;
	text-decoration: none;
	padding: 3px;
}


.mega2 a[rel]:after{ /*add "down.png" to anchor links, or those with a rel attribute */
content:" " url(down.png);
}
.mega2 a:visited{
	font: Regular 18px Arial;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #666666;
	background-color: #EEEEEE;
	border-style: solid;
	border-color: #666666;
	border-width: 1px;
	font-size: 16px;
	text-decoration: none;
}

.mega2 a:hover { /*Selected Tab style*/
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #3554dd;
	background-color: #EEEEF4;
	border-style: solid;
	border-color: #3554dd;
	border-width: 2px;
	font-size: 16px;
}


.mega2 ul{
margin:0;
margin-left:5px;
padding:0;
list-style:none;
}

.mega2 ul li{
margin-bottom:3px;
}

.mega2 .ulmenu{ /*style any UL within mega menu with class="ulmenu"*/
margin:0;
padding:0;
border:1px solid gray;
border-bottom-width:0;
list-style:none;
}

.mega2 .ulmenu a{
display:block;
border-bottom:1px solid gray;
padding:5px;
}

.mega2 .ulmenu a:hover{
background:lightyellow;

}
/* Links */
.Wlinks {
	font: Regular 18px Arial;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #666666;
	font-size: 18px;
	text-decoration: none;
	padding: 0px;
}
.Wlinks2 {
	font: Regular 18px Arial;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #3554dd;
	font-size: 14px;
	text-decoration: none;
	padding: 0px;
}
.Wlinks3 {
	font: Regular 18px Arial;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #3554dd;
	font-size: 18px;
	text-decoration: none;
	padding: 0px;
	/* [disabled]background-color: #fdfae1; */
}
.slidetitle {
	font: Regular 16px Arial;
	font-family: Verdana,sans-serif;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
	padding: 0px;
}

.Wlinks a{
   font: Regular 18px Arial;
   font-family:Verdana,sans-serif;
   font-weight:bold;
   color:#666666; 
   background-color:#EEEEEE;
   font-size:18px;
   text-decoration:none;
   padding:3px;
   border-style:solid;
   border-color:#666666;
   border-width:2px;

}

.Wlinks a:visited{
font: Regular 18px Arial;
   font-family:Verdana,sans-serif;
   font-weight:bold;
   color:#666666; 
   background-color:#EEEEEE;
   border-style:solid;
   border-color:#666666;
   border-width:2px;
   font-size:18px;
   text-decoration:none;
}

.Wlinks a:hover { /*Selected Tab style*/
   font-family:Verdana,sans-serif;
   font-weight:bold;
   color:#3554dd; 
   background-color:#EEEEF4;
   font-size:18px;
   border-style:solid;
   border-color:#3554dd;
   border-width:2px;

}

/* ######### Style for Solid Block Mega Menu ######### */

.solidblocktheme{ /*additional mega drop down menu style for this theme*/
border:2px solid #2f4187;
padding:0; /*remove default padding inside mega menu*/
}

.solidblocktheme p, .solidblocktheme .column{
padding:5px; /*add padding inside p and .column elements within mega menu*/
width:auto;
}

.solidblockmenu{
	margin: 0;
	padding: 0;
	float: left;
	font: bold 13px Arial;
	width: 100%;
	overflow: hidden;
	background: black url(../images/blockdefault_cnm.gif) center center repeat-x;

}

.solidblockmenu li{
display: inline;

}

.solidblockmenu li a{
float: left;
color: white;
padding: 9px 11px;
text-decoration: none;


border-right: 1px solid white;

}

.solidblockmenu li a:visited{
color: white;
}

.solidblockmenu li a:hover, .solidblockmenu li a.selected{ /*Selected Tab style*/
color: white;
background: transparent url(../images/blockactive_cnm.gif) center center repeat-x;
}

.solidblockmenu2{
	margin: 0;
	padding: 0;
	float: left;
	font: bold 13px Arial;
	width: 135px;
	overflow: hidden;
	background: black url(../images/blockdefault_cnm.gif) center center repeat-x;
	padding-left: 12px;
}

.solidblockmenu2 li{
display: inline;

}

.solidblockmenu2 li a{
float: left;
color: white;
padding: 9px 11px;
text-decoration: none;

}

.solidblockmenu2 li a:visited{
color: white;
}

.solidblockmenu2 li a:hover, .solidblockmenu2 li a.selected{ /*Selected Tab style*/
color: white;
background: transparent url(../images/blockactive_cnm.gif) center center repeat-x;
}

.solidblockmenu3{
	margin: 0;
	padding: 0;
	float: left;
	font: bold 13px Arial;
	width: 135px;
	overflow: hidden;
	/* [disabled]border: 0px solid #487bdc; */
	/* [disabled]border-width: 1px 0; */
	background: black url(../images/table_bk.gif) center center repeat-x;
	padding-left: 15px;

}

.solidblockmenu3 li{
display: inline;

}

.solidblockmenu3 li a{
float: left;
color: white;
padding: 9px 9px;
text-decoration: none;

border: 1px solid #2f4187;
}

.solidblockmenu3 li a:visited{
color: white;
}

.solidblockmenu3 li a:hover, .solidblockmenu3 li a.selected{ /*Selected Tab style*/
color: white;
background: transparent url(../images/table_over_bk.gif) center center repeat-x;
}

.cc_workshop {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 15px;
	font-weight: regular;
	text-align:center;
}
